
/* Variáveis de cor */

$primary-normal: #000000;
$prymary-dark: #040f1a;
$prymary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$orange-normal: #d86a10;
$orange-dark: #b95a0c;
$orange-light: #ce7329;